---
layout: 'base.njk'
---

{{ content | safe }}
<section style="text-align:center;">
      {% for cast in collections.cast %}
        <figure> 
          <a href="/cast/{{ cast.data.id | lower }}"><img loading="lazy" src="/assets/thumbs/cast/{{ cast.data.id }}.png" width="100%" alt="A thumbnail of {{ cast.data.title }}"></a>
        </figure>
      {% endfor %}
</section>