---
tags:
- page
---

<!doctype html>
<html class="no-js" lang="{{ metadata.language }}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ metadata.decor }} {{"| " + title if title }}</title>
<link rel="stylesheet" href="{{ metadata.assets.css }}/style.css">
<meta name="description" content="{{ metadata.assets.desc }}">
<link rel="icon" href="{{ metadata.assets.favicon }}" sizes="any">
<script src="{{metadata.assets.js}}/navi.js" type="text/javascript" defer></script>

<meta name="author" content="{{ metadata.assets.author }}">
<meta name="keywords" content=" {{ metadata.assets.tags }}">
<meta name="description" content="{{ metadata.assets.desc }}">

<meta itemprop="description" content="{{ metadata.assets.desc }}">
<meta itemprop="image" content="{{ metadata.assets.linkbanner }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ metadata.assets.desc }}">
<meta name="twitter:image" content="{{ metadata.assets.linkbanner }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.assets.desc }}">
<meta property="og:image" content="{{ metadata.assets.linkbanner }}">

<meta name="robots" content="noindex, nofollow">
</head>
<body>
    <header-component></header-component>
<header id="header" style="background-image: url(/assets/bgs/{{ bgimage }})"></header>
      <main>

<div id="container"><main>
    <h1>{{ title + "!"}}</h1>

  {{ content | safe }}

</main>
</div>
</main>
  {% include 'footer.njk' %}

   {% include 'toc.njk' %}