---
layout: 'base.njk'
---

      <div class="characterprofile">
    <div class="charactermain-image" style="background-image: url('/assets/thumbs/cast/{{ id }}.png')" alt="A thumbnail of {{ title }}"></div>
      <table>

  <tr>
    <td>Pronouns</td>
    <td>{{ pronouns }}</td>
  </tr>

  {% if (alias) %}
    <tr>
    <td>Nom de Plume</td>
    <td>{{ alias }}</td>
  </tr>
  {% endif %}

  <tr>
    <td>Species</td>
    <td>{{ species }}</td>
  </tr>

    <tr>
    <td>Age</td>
    <td>{{ age }}</td>
  </tr>

    <tr>
    <td>Occupation</td>
    <td>{{ occupation }}</td>
  </tr>

    <tr>
    <td>Birthplace</td>
    <td>{{ birthplace }}</td>
  </tr>

    <tr>
    <td>Nicknames & Titles</td>
    <td>{{ nicknames }}</td>
  </tr>

  {% if (song) %}
    <tr>
    <td>Song(s)</td>
    <td><a target="_blank" href="{{ songlink }}"><i>{{ song }}</i></a>{% if (song2) %}, <a target="_blank" href="{{ songlink2 }}"><i>{{ song2 }}</i></a>{% endif %}{% if (song3) %}, <a target="_blank" href="{{ songlink3 }}"><i>{{ song3 }}</i></a>{% endif %}{% if (song4) %}, <a target="_blank" href="{{ songlink4 }}"><i>{{ song4 }}</i></a>{% endif %}{% if (song5) %}, <a target="_blank" href="{{ songlink5 }}"><i>{{ song5 }}</i></a>{% endif %}{% if (song6) %}, <a target="_blank" href="{{ songlink6 }}"><i>{{ song6 }}</i></a>{% endif %}</td>
  </tr>
  {% endif %}
</table>
  </div>

<div id="toc"></div>

<div id="contents">
  {{ content | safe }}

  
</div>
</div>