---
layout: 'base.njk'
---

      <div class="locprofile">
    <div class="locmain-image" style="background-image: url('/assets/thumbs/loc/{{ id }}.png')"></div>
      <table>
{%if biggest %}

    <tr>
    <td>Population (2999 estimate)</td>
    <td>{{ population }}</td>
  </tr>

  <tr>
    <td>President</td>
    <td><a href="/cast/{{ leaderlink }}">{{ leader }}</a></td>
  </tr>

    <tr>
    <td>Demonym(s)</td>
    <td>{{ demonyms }}</td>
  </tr>

    <tr>
    <td>Motto</td>
    <td><i>"{{ motto }}"</i></td>
  </tr>

    <tr>
    <td>Predominant Religion</td>
    <td>{{ religion }}</td>
  </tr>

    <tr>
    <td>Currency</td>
    <td>{{ currency }}</td>
  </tr>

{% endif %}

  {% if (bigger) %}
  <tr>
    <td>State</td>
    <td>{{ state }}</td>
  </tr>

    <tr>
    <td>Population (2999 estimate)</td>
    <td>{{ population }}</td>
  </tr>

  <tr>
    <td>Mayor</td>
    <td><a href="/cast/{{ leaderlink }}">{{ leader }}</a></td>
  </tr>

    <tr>
    <td><a href="/world/url/#French/American_Lean">French/English Lean</a></td>
    <td>{{ framlean }}</td>
  </tr>

    <tr>
    <td>Demonym(s)</td>
    <td>{{ demonyms }}</td>
  </tr>
  {% endif %}

  {% if (small) %}
  <tr>
    <td>Base of Operations</td>
    <td>{{ boo }}</td>
  </tr>

  <tr>
    <td>Leader(s)</td>
    <td>{{ leader }}</td>
  </tr>

    <tr>
    <td>Focus(es)</td>
    <td>{{ focus }}</td>
  </tr>

    <tr>
    <td>Status</td>
    <td>{{ status }}</td>
  </tr>
  {% endif %}

    <tr>
    <td>Nicknames</td>
    <td>{{ nicknames }}</td>
  </tr>
</table>
  </div>

<div id="toc"></div>

<div id="contents">

  {{ content | safe }}