---
layout: 'base.njk'
---

<section>
      {% for cast in collections.cast %}
        <figure> 
          <a href="/cast/{{ cast.data.id | lower }}"><img src="/assets/thumbs/cast/{{ cast.data.id }}.png" width="100%"></a>
        </figure>
      {% endfor %}
</section>