---
tags:
- page
---

{% include "header.njk" %}

<body>
    <header-component></header-component>
  
<header id="header" style="background-image: url(/assets/bgs/{{ bgimage }})" alt="A repeating pattern"></header>
      <main>

<div id="container"><main>
    <h1 style="border-bottom:0px"><img src="/assets/decor/wing1.gif" alt="A pixel art GIF of a white outstretched wing (stretched to your left) flapping"> {{ title +"!" }} <img src="/assets/decor/wing2.gif" alt="A pixel art GIF of a white outstretched wing (stretched to your right) flapping"></h1>
{% if (subtitle) %}
 <h2 div class="center" style="margin-top: -15px;"><img src="/assets/decor/swirlblue.gif"  alt="A pixel art GIF of a baby blue swirl"> {{ subtitle }} <img src="/assets/decor/swirlblue.gif" alt="A pixel art GIF of a baby blue swirl"></h2>
{% endif %}

{% if (pagedoll) %}
  <div class="pagedoll">
  <a href="#"><img src="/assets/decor/{{ pagedoll }}.png" alt="Pagedoll"></a>
  </div>
  {% endif %}

  {% if (drama) %}

  <div class="centerDivider">
  <img src="/assets/dividers/divider31.png" style="height:100%; width:100%; margin-top:20px;" alt="Divider">
  </div>
 
  <blockquote><em>{{ drama }}</em></blockquote>

    {%- else -%}

    <div class="centerDivider">
      <img src="/assets/dividers/divider31.png" style="height:100%; width:100%; margin-top:20px;" alt="Divider">
    </div>

  {% endif %}

  {% if (pagedoll2) %}
  <img src="/assets/decor/{{ pagedoll2 }}.png" div class="pagedollbreaker" alt="Pagedoll">
  {% endif %}

  {% if (cover) %}
  <div class="coverhere" style="background-image: url('/assets/gallery/{{ cover }}.png')" alt="A fake TWWS comic book-like cover."></div>
  {% endif %}

  {{ content | safe }}

</main>
</div>
</main>

  {% include 'footer.njk' %}

   {% include 'toc.njk' %}