---
layout: 'base.njk'
---

{% if (tomoguy) %}
  <a href="https://www.tumblr.com/chocoperrito/786091240639873024/tomodachi-life-window-graphics-two-bonus-ones?source=share"><img src="/assets/decor/tl{{ tomoguy }}.png" div class="pagedollbreaker" alt="A modified Tomodachi Life apartment graphic."></a>
{% endif %}

{% if (lilguy) %}
  <img src="/assets/decor/tl{{ lilguy }}" div class="pagedollbreaker" alt="{{ alttag }}">
{% endif %}

{{ content | safe }}