---
layout: 'base.njk'
---

{{ content | safe }}

 {% for blogs in collections.blogs | reverse %}

<div class="box4boxes" style="min-height:400px; margin-bottom: 3em;">
<h2><img src="/assets/decor/stars.gif" alt="A GIF of some small white stars." aria-hidden="true"> <time>{{ blogs.date | postDate }}</time></h2>

{% if (blogs.data.title) %}

<h3><img src="/assets/decor/swirlred.gif" alt="A GIF of a small red swirl." aria-hidden="true"> {{ blogs.data.title }}</h3>

{% endif %}

{% if (blogs.data.tomoguy) %}
  <img src="/assets/decor/tl{{ blogs.data.tomoguy }}.png" div class="pagedollbreaker" alt="A modified Tomodachi Life apartment graphic by Chocoperrito." style="max-height:200px; max-width:400px;">
{% endif %}

{% if (blogs.data.lilguy) %}
  <img src="/assets/decor/tl{{ blogs.data.lilguy }}" div class="pagedollbreaker" alt="{{ alttag }}" aria-hidden="true">
{% endif %}
  
<article>{% excerpt blogs %}</article> <p><a href="{{blogs.url}}" style="color:#8ccfff">Read more…</a></p>
</div>

 {% endfor %}