---
layout: 'base.njk'
---

      <div class="characterprofile">
    <div class="charactermain-image" style="background-image: url('/assets/thumb/cast/{{ thumbnail }}')"></div>
      <table>
  <tr>
    <th colspan="2"> </th>
  </tr>

  <tr>
    <td>Pronouns</td>
    <td>{{ pronouns }}</td>
  </tr>

    <tr>
    <td>Alias</td>
    <td>{{ alias }}</td>
  </tr>

  <tr>
    <td>Species</td>
    <td>{{ species }}</td>
  </tr>

    <tr>
    <td>Age</td>
    <td>{{ age }}</td>
  </tr>

    <tr>
    <td>Occupation</td>
    <td>{{ occupation }}</td>
  </tr>

    <tr>
    <td>Birthplace</td>
    <td>{{ birthplace }}</td>
  </tr>

    <tr>
    <td>Nicknames</td>
    <td>{{ nicknames }}</td>
  </tr>

    <tr>
    <th colspan="2"> </th>
  </tr>
</table>
  </div>

<div id="toc"></div>

<div id="contents">
  {{ content | safe }}

      <h2>Gallery</h2>
<div class="scrollbox">
<div class="gallery">
  <a href="/assets/thumb/cast/virgil.png"><div class="galleryimage" style="background-image: url('/assets/thumb/cast/virgil.png')"></div></a>
</div>
</div>