<!---
pagination:
  data: galleryimgs
  size: 1
  alias: charaimgs
permalink: "assets/gallery/{{ charaimgs.name | slugify }}/"
---

{{ charaimgs.name }}
A {{ charaimgs.type }} file made in {{ charaimgs.justyear }} ({{ charaimgs.date }}) by {{ charaimgs.artist }}. -->