---
layout: 'base.njk'
tags:
- fourth wall
---

      <div class="characterprofile">
    <div class="charactermain-image" style="background-image: url('/assets/thumb/cast/{{ thumbnail }}')"></div>
      <table>
  <tr>
    <th colspan="2"> </th>
  </tr>

  <tr>
    <td>Pronouns</td>
    <td>{{ pronouns }}</td>
  </tr>

    <tr>
    <td>Age</td>
    <td>{{ age }}</td>
  </tr>

    <tr>
    <td>Occupation</td>
    <td>{{ occupation }}</td>
  </tr>

    <tr>
    <td>Art Program</td>
    <td>{{ artprogram }}</td>
  </tr>

      <tr>
    <td>Tablet</td>
    <td>{{ drawingtablet }}</td>
  </tr>

      <tr>
    <td>Coding Program</td>
    <td>{{ codingprogram }}</td>
  </tr>

    <tr>
    <td>Nicknames</td>
    <td>{{ nicknames }}</td>
  </tr>

    <tr>
    <th colspan="2"> </th>
  </tr>
</table>
  </div>

  <div id="toc"></div>

<div id="contents">
  {{ content | safe }}

<marquee style="margin-top: 45px;">
<img src="/assets/idbuttons/aroace.png"> <img src="/assets/idbuttons/intp.png"> <img src="/assets/idbuttons/fighter.png"> <img src="/assets/idbuttons/falsegod.png"> <img src="/assets/idbuttons/marvel.png"> <img src="/assets/idbuttons/pcgamer.png"> <img src="/assets/idbuttons/pkmn.png"> <img src="/assets/idbuttons/precure.png"> <img src="/assets/idbuttons/science.png"> <img src="/assets/idbuttons/transmasc.png"> <img src="/assets/idbuttons/undertale.png"> <img src="/assets/idbuttons/nature.gif"> <img src="/assets/idbuttons/liminalspace.png"> <img src="/assets/idbuttons/introvert.png"> <img src="/assets/idbuttons/petscop.png"> <img src="/assets/idbuttons/rock.png"> <img src="/assets/idbuttons/metalhead.png"> <img src="/assets/idbuttons/ULTRAKILL.png">
</marquee>

<marquee direction="right">
<img src="/assets/buttons/savedragonsnow.gif"> <a href="https://welcomehomerestorationproject.net/"><img src="/assets/buttons/whbarnaby.gif" style="height:32px;"></a> <a href="https://www.sbnation.com/a/17776-football"><img src="/assets/buttons/17776.gif"></a> <img src="/assets/buttons/activeworlds.gif"> <img src="/assets/buttons/aiistheft.gif"> <img src="/assets/buttons/aj.png"> <img src="/assets/buttons/atari.gif"> <img src="/assets/buttons/beefbrain.gif"> <img src="/assets/buttons/childlibrary.gif"> <img src="/assets/buttons/deletetiktok.gif"> <img src="/assets/buttons/fish.gif"> 
<img src="/assets/buttons/ilikecomputer.jpg"> <img src="/assets/buttons/neocities.gif"> <img src="/assets/buttons/nowebp.gif"> <img src="/assets/buttons/nowemulate.gif"> <img src="/assets/buttons/nowspidey.gif"> <img src="/assets/buttons/piracy.gif"> <img src="/assets/buttons/proao3.gif"> <img src="/assets/buttons/webdesignismypassion.gif"> <img src="/assets/buttons/youareastar.gif"> <a href="https://notbyai.fyi/"><img src="/assets/buttons/notbyai.png" style="height:32px;"></a>
</marquee>

<marquee>
<img src="/assets/stamps/stamp136.png"> <img src="/assets/stamps/stamp134.png"> <img src="/assets/stamps/stamp130.png"> <img src="/assets/stamps/stamp123.png"> <img src="/assets/stamps/stamp115.gif"> <img src="/assets/stamps/stamp100.png"> <img src="/assets/stamps/stamp97.gif"> <img src="/assets/stamps/stamp89.gif"> <img src="/assets/stamps/stamp71.png"> <img src="/assets/stamps/stamp53.png"> <img src="/assets/stamps/stamp32.png"> <img src="/assets/stamps/stamp16.gif"> <img src="/assets/stamps/stamp92.gif"> <img src="/assets/stamps/stamp93.gif"> <img src="/assets/stamps/stamp94.png"> <img src="/assets/stamps/stamp108.gif"> 
</marquee>

<marquee direction="right">
<img src="/assets/stamps/stamp137.png"> <img src="/assets/stamps/stamp135.png"> <img src="/assets/stamps/stamp128.gif"> <img src="/assets/stamps/stamp125.gif"> <img src="/assets/stamps/stamp103.png"> <img src="/assets/stamps/stamp99.gif"> <img src="/assets/stamps/stamp81.png"> <img src="/assets/stamps/stamp80.png"> <img src="/assets/stamps/stamp70.png"> <img src="/assets/stamps/stamp52.png"> <img src="/assets/stamps/stamp43.gif"> <img src="/assets/stamps/stamp51.gif"> <img src="/assets/stamps/stamp109.gif"> <img src="/assets/stamps/stamp110.gif"> <img src="/assets/stamps/stamp132.gif"> <img src="/assets/stamps/stamp84.png"> 
</marquee>