---
layout: 'base.njk'
tags:
- fourth wall
---

      <div class="characterprofile">
    <div class="charactermain-image" style="background-image: url('/assets/thumb/{{ thumbnail }}')"></div>
      <table>
  <tr>
    <th colspan="2"> </th>
  </tr>

  <tr>
    <td>Pronouns</td>
    <td>{{ pronouns }}</td>
  </tr>

    <tr>
    <td>Age</td>
    <td>{{ age }}</td>
  </tr>

    <tr>
    <td>Occupation</td>
    <td>{{ occupation }}</td>
  </tr>

    <tr>
    <td>Art Program</td>
    <td>{{ artprogram }}</td>
  </tr>

      <tr>
    <td>Tablet</td>
    <td>{{ drawingtablet }}</td>
  </tr>

      <tr>
    <td>Coding Program</td>
    <td>{{ codingprogram }}</td>
  </tr>

    <tr>
    <td>Nicknames</td>
    <td>{{ nicknames }}</td>
  </tr>

    <tr>
    <th colspan="2"> </th>
  </tr>
</table>
  </div>

  <div id="toc"></div>

<div id="contents">
  {{ content | safe }}

<marquee style="margin-top: 45px" behavior="loop;">
<img src="/assets/stamps/stamp136.png"> <img src="/assets/stamps/stamp134.png"> <img src="/assets/stamps/stamp130.png"> <img src="/assets/stamps/stamp123.png"> <img src="/assets/stamps/stamp115.gif"> <img src="/assets/stamps/stamp100.png"> <img src="/assets/stamps/stamp97.gif"> <img src="/assets/stamps/stamp89.gif"> <img src="/assets/stamps/stamp71.png"> <img src="/assets/stamps/stamp53.png"> <img src="/assets/stamps/stamp32.png"> <img src="/assets/stamps/stamp16.gif">
</marquee>

<marquee direction="right" behavior="loop;">
<img src="/assets/stamps/stamp137.png"> <img src="/assets/stamps/stamp135.png"> <img src="/assets/stamps/stamp128.gif"> <img src="/assets/stamps/stamp125.gif"> <img src="/assets/stamps/stamp103.png"> <img src="/assets/stamps/stamp99.gif"> <img src="/assets/stamps/stamp81.png"> <img src="/assets/stamps/stamp80.png"> <img src="/assets/stamps/stamp70.png"> <img src="/assets/stamps/stamp52.png"> <img src="/assets/stamps/stamp43.gif"> <img src="/assets/stamps/stamp51.gif">
</marquee>