<footer id="footer">

<div class="footercenter">
<img src="/assets/decor/spipool1.gif" style="margin-top: 20px;" alt="A pixel art GIF of an angry Spider-Man saying, 'I hate you!' while facing Deadpool."> <img src="/assets/decor/spipool2.gif" style="margin-top: 20px;" alt="A pixel art GIF of Deadpool saying, 'You love me!' while facing Spider-Man.">
<p>✦︎ Copyright 2024 - 2999 ✦︎</p>
</div>
</footer>
</body>
</html>