<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ title }}!!</title>
<link rel="stylesheet" href="/assets/source/css/lizsite.css">
<meta name="description" content="In another, another, another universe…">
<link rel="icon" href="/assets/icons/favicon2.png" sizes="any">
<script src="https://u.widget.st/ar.js"></script>

<meta name="author" content="Dynaknights">
<meta name="keywords" content=" worldbuilding, ocs, daydreaming, paracosm, spiderman, marvel">
<meta name="description" content="In another, another, another universe…">

<meta itemprop="description" content="In another, another, another universe…">
<meta itemprop="image" content="/assets/gallery/2026/spiderpunch.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="In another, another, another universe…">
<meta name="twitter:image" content="/assets/gallery/2026/spiderpunch.png">
<meta name="og:site_name" content="The Wondrous Web-Surfer!">

<meta property="og:type" content="website">
<meta property="og:url" content="In another, another, another universe…">
<meta property="og:image" content="/assets/gallery/2026/spiderpunch.png">
<meta property="og:title" content="The Blog of Poulterheist!">
<meta property="twitter:domain" content="web-surfer.neocities.org">

<meta name="theme-color" content="#ba3939">
<meta name="robots" content="index, nofollow">
<meta name="robots" content="noai, noimageai">
<meta name="pinterest" content="nopin">

    <script>
      // Template by petrapixel's layout generator.
      console.log("%cTemplate generated with petrapixel's layout generator: https://petrapixel.neocities.org/coding/layout-generator", "font-size: 14pt; color: #922a45; background: #ffd3ef");
    </script>

</head>

  <body>
   <a href="#content" id="skip-to-content-link">Skip to content</a>

    <div class="layout">
      <header>

        <div class="header-content">
	        <div class="header-title"><img src="/assets/decor/tllove.png" style="height:2em; margin-bottom:-.5em;" aria-hidden="true" alt="A modified graphic of a Tomodachi Life window with a heart in the thought bubble"> <em>{{ title }}!!</em></div>
	        
	        <!-- NAVIGATION -->
	        <nav>
	          <ul>
	            <li><img src="/assets/decor/stars6.gif" style="margin-bottom:-.5em;" alt="stars" aria-hidden="true"> <a href="">Home</a> <small style="margin-left:-.5em;">(you are here!)</small></li>
	            <li><a href="">About Me</a></li>
	            <li><a href="">Blog</a></li>
	            <li><a href="">Cute Pictures of Cute Frogs!!</a></li>
	            <li>
	                <strong>Gallery</strong>
	                <ul>
	                  <li><a href="">Traditional Art</a></li>
	                  <li><a href="">Digital Art</a></li>
	                  <li><a href="">Mixed Media</a></li>
	                  <li><a href="">Photography</a></li>
	                  <li><a href="">My Ocs</a></li>
	                </ul>
                    <li>
	                <strong>Shrines</strong>
	                <ul>
	                  <li><a href="">MY FRIENDS!!!!</a></li>
	                  <li><a href="">Favorite Books</a></li>
	                  <li><a href="">Bunnies</a></li>
	                  <li><a href="">Miette & Pippins</a></li>
	                </ul>
	            </li>
	          </ul>
	        </nav>
        	
        </div>
      </header>

      <main id="content"> 
        <section>

            <div class="box4boxes" style="width:20%; margin-top:-1em;">
                <p style="text-align: center; border-bottom: .1em dashed #1e0128;"><img src="/assets/decor/stars6.gif" style="margin-bottom:-.5em;" alt="stars" aria-hidden="true"> <strong><em>The Latest…</em></strong> <img src="/assets/decor/stars6.gif" style="margin-bottom:-.5em;" alt="stars" aria-hidden="true"></p>

                <ul>
                    <li style="list-style-image: url('/assets/decor/radio1.png')"> Lunasidone — <em>WEREWOLF GLORYHOLE!!!</em> (2990)</li>
                    <li style="list-style-image: url('/assets/decor/tv.webp')"> <em>Secretary</em> (2002)</li>
                    <li style="list-style-image: url('/assets/decor/book.webp')"> <em>Wings Of Fire — The Dragonet Prophecy</em> (2012)</li>
                </ul>
            </div>

                <div class="box4boxes" style="width:20%; float:right; margin-left:1em; margin-right:0em; margin-top:-1em;">
                <p style="text-align: center; border-bottom: .1em dashed #1e0128;"><img src="/assets/decor/stars6.gif" style="margin-bottom:-.5em;" alt="stars" aria-hidden="true"> <strong><em>Status</em> <img src="/assets/decor/stars6.gif" style="margin-bottom:-.5em;" alt="stars" aria-hidden="true"><br><small>Last Updated: 22/09/2999</small></strong></p>

                <p style="text-align: center;"><em>I'm feeling…</em><br>
                <mark><img src="/assets/decor/thumbsup.gif" style="margin-bottom:-.2em;" alt="thumbs up" aria-hidden="true"> <strong>Happy</strong></mark></p>

                <p style="text-align: center;">HAPPY FALL EQUINOX YIPPEE!!! HOORAY!!!!! SUMMER IS FINALLY OVER THANK THE STARS (≧▽≦)</p>
            </div>

            <div class="center" style="margin-top:1em">{{ content | safe }}

            <img loading="lazy" src="/assets/blinkies/abc4baby.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> <img loading="lazy" src="/assets/blinkies/blinkiebug.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> <img loading="lazy" src="/assets/blinkies/addicted.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> <img loading="lazy" src="/assets/blinkies/ispankboys.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> <img loading="lazy" src="/assets/blinkies/person.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> <img loading="lazy" src="/assets/blinkies/scream.gif" aria-hidden="true" style="height:20px; width:150px;" alt="Blinkie"> 

            <br><img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/paws.png"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/dumbasswebmaster.gif"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/deaddove.gif"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/trans.gif"> <a href="https://plasticdino.neocities.org"><img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/utena.gif"></a> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/nowsavedragons.gif"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/proao3.gif"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/youretellingme.png"> <img loading="lazy" alt="Button" aria-hidden="true" src="/assets/buttons/fish.gif"> 

            </div>
            
            <div class="box4boxes" style="width:100%; max-height:50em; overflow-x:hidden;">

                <h2><em>✧˚ ༘ ⋆｡♡˚.𖥔 Livre d'hor</em></h2>
                <div class="center">
                <label for="avatar">Choose an avatar (png/jpeg):</label> <input type="file" disabled accept="image/png, image/jpeg" style="margin-bottom:.6em;"><br>
                <input type="text" disabled style="width:25%; height:2em;" placeholder="Name/username"> <input type="text" disabled style="width:34.5%; height:2em;" placeholder="Website/profile url (optional)"><br>
                <input type="text" disabled style="width:60%; height:2em;" placeholder="How did you find me? (Optional)"><br>
                <input type="text" disabled style="width:60%; height:2em;" placeholder="Fun fact about you! (Optional)"><br>
                <input type="text" disabled style="width:60%; height:8em;" placeholder="Call to the endless void…"><br>
                <div class="button" style="margin-top:.6em;">♥ Signed, you!</div>
                </div>

                <hr style="border: 1.4px dashed #1e0128;">

                <div class="comment">
                  <div class="avi"></div><div class="comname">Belt <small>Beltmeister</small> <div class="date">22/02/2999</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Howd you find me?:</strong> Surfin'</em></small>
                  <p>This site… your art… chef's kiss. It's one of the most refreshing places on the net I've seen in a while. Congrats on your acceptance and I hope Miette and Pippins are happy and well.</p>
                </div>
              
                 <div class="comment">
                  <div class="avi"></div><div class="comname">Master of Baiters <small>fentedup.yuri</small> <div class="date">05/01/2999</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Howd you find me?:</strong> Bound by fate</em></small>
                  <p>OUH STARS BELOW. YOU'RE THE SWEETEST THING EVER HOLY SHIT NUMBER ONE BITEEGEIST FAN THAT'S ME.<br>
                  Genuinely THEEEEE kindest girl and best RP partner I've ever had the pleasure of meeting!! o(≧▽≦)o EVERYONE LOVE HER NEOOOOOW</p>
                </div>

                 <div class="comment">
                  <div class="avi"></div><div class="comname">adreamofscarlet ♡ <small>adreamofscarlet.red</small> <div class="date">14/12/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Fun fact:</strong> i'm omniscient</em></small><br>
                  <small><em><strong>Howd you find me?:</strong> guess</em></small>
                  <p>ouuuu… very cutesy! very very very cutesy and very very you i love it. :)</p>
                </div>

                <div class="comment">
                  <div class="avi"></div><div class="comname">Gl0ck0m0le669 <div class="date">13/12/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Fun fact:</strong> I used to read dictionaries cover-to-cover as a kid.</em></small><br>
                  <small><em><strong>Howd you find me?:</strong> Carrier pigeon.</em></small>
                  <p>Oh my Stars. Initially, I did not believe you to be so serious about taking up webwizardry in the slightest (no offense, of course…), but I am glad to be proven wrong! Your site looks great so far! I happily await to see what you will put here in the future… :)
                  <br>P.S. Please, don't feel ashamed to put your artworks here! I quite enjoy admiring your talent. If you have only one fan, it's me against the world…
                  </p>
                </div>

                <div class="comment">
                  <div class="avi"></div><div class="comnameliz">Biteegeistlawll <small>biteegeistlawll.meow.sol</small> <div class="date">14/12/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <p><strong>@Gl0ck0m0le669</strong> AAAAAAAAA HIIIIIIIIII THANK YOU SO MUCH!!!! (,,>ヮ<,,)<br>
                  I tried my best but it was mostly my friend (AHEM AHEM. pube boy.) trying not to crash out while teaching me web dev. (╥﹏╥) But soon therell be more stuff like rss and art and my rambling i promise!!</p>
                </div>

                <div class="comment">
                  <div class="avi"></div><div class="comname">Proxymoron <small><a href="/misc/fun/veesite">proxymoron.web</a></small> <div class="date">02/12/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <p>Hi, Lizbeth.</p>
                </div>

                <div class="comment">
                  <div class="avi"></div><div class="comnameliz">Biteegeistlawll <small>biteegeistlawll.meow.sol</small> <div class="date">02/12/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Fun fact:</strong> Imma touch you vro</em></small>
                  <p><strong>@Proxymoron</strong> Hello pube boy :3c</p>
                </div>

                <div class="comment">
                  <div class="avi"></div><div class="comnameliz">Biteegeistlawll <small>biteegeistlawll.meow.sol</small> <div class="date">02/11/2998</div></div><hr style="border: 1.4px dashed #1e0128; margin-top:-.1em; margin-bottom:.5em;">
                  <small><em><strong>Fun fact:</strong> Hai</em></small><br>
                  <small><em><strong>Howd you find me?:</strong> Bai</em></small>
                  <p>Test test test testing</p>
                </div>

            </div>

            <div class="box4boxes" style="width:100%; max-height:20em;">

                <h2><em>✧˚ ༘ ⋆｡♡˚.𖥔 Updates (DD/MM/YYYY)</em></h2>
                <div class="pagedollbreaker">
                <img src="/assets/decor/waffles1.webp" style="width:60%;" aria-hidden="true" alt="Waffles and butter with cute faces.">
                </div>
                <ul>
                  <li><strong>22/09/2999</strong> — New blog: fall!! FINALLY!!!!! + a very sophisticated & philosophical magical pony book review PART 3 FUCK YOU</li>
                  <li><strong>28/08/2999</strong> — New blog: late august musings</li>
                  <li><strong>31/07/2999</strong> — New blog: men.</li>
                  <li><strong>20/06/2999</strong> — New blog: HAPPY MIDSUMMER!! + temp summer theme YAY</li>
                  <li><strong>09/06/2999</strong> — New blog: today my bday :3 + frog shrine i luuuuuv my fat stypid daughters ＼(ˇ∇ˇ)／♥</li>
                  <li><strong>31/05/2999</strong> — New blog: HOLY SHIT READ A FUCKING BOOK & also my friend dragged me to go arcading for his bday! + temp bday theme</li>
                  <li><strong>19/05/2999</strong> — Added a fav book shrine with recs and childhood faves and reviews</li>
                  <li><strong>20/04/2999</strong> — New blog: IM SOFUCKIGNF. high. + fren shrine YAYAYAY ILY TEAM OF PERVERTS :DDDDDDD</li>
                  <li><strong>18/04/2999</strong> — New blog: the super scene is basically a cop fandom tbh + ocs page</li>
                  <li><strong>30/03/2999</strong> — New blog: just let her crash and burn shell learn</li>
                  <li><strong>16/03/2999</strong> — New blog: my life is so ass + a very sophisticated & philosophical magical pony book review PART 2</li>
                  <li><strong>16/03/2999</strong> — New blog: a very sophisticated & philosophical magical pony book review PART 1</li>
                  <li><strong>22/02/2999</strong> — New blog: I GOT ACCEPTED INTO!! AN ART!! GALLERY!!! + a bunny shrine</li>
                  <li><strong>30/01/2999</strong> — Added a page for my friends frogs… theyre so cute… :'''')</li>
                  <li><strong>17/01/2999</strong> — New blog: its so over. This year is going to fucking suck + new years party talk</li>
                  <li><strong>01/01/2999</strong> — No new updates… Happy new years!! <img src="/assets/decor/frog2.gif" style="margin-bottom:-.3em;"></li>
                  <li><strong>31/12/2998</strong> — New years dreams and wishes blog & my wish home for 2999 :)</li>
                  <li><strong>21/12/2998</strong> — Status thing about what media im engaging with atm + mood status + midwinter blog and temp theming!!!!</li>
                  <li><strong>12/12/2998</strong> — New blog about moving apartments again + art/photo gallery</li>
                  <li><strong>02/12/2998</strong> — Guestbook added!</li>
                  <li><strong>01/12/2998</strong> — Chained and collared and tortured my friend in my closet until he coded a website for me and now its live! :3</li>
                </ul>

            </div>

        </section>
      </main>

      <footer style="float: center; text-align:center;">
            <img src="/assets/decor/construction.gif" style="margin:.5em; margin-top:-1em;" alt="construction barrier" aria-hidden="true"> <p>★ Under construction until the end of time… ★<br><a href="/index" style="margin-top:10em;">Go back?</a></p> <img src="/assets/decor/construction.gif" style="margin:.5em; margin-top:-1em;" alt="construction barrier" aria-hidden="true">
      </footer>
    </div>
  </body>
</html>