---
layout: 'base.njk'
---

<section>
    <h2>Main Pages!</h2>
    <ul>
      {% for mainpage in collections.mainpage %}
        <li><a href="/{{ mainpage.data.id }}">{{ mainpage.data.title }}</a></li>
      {% endfor %}
    </ul>
    </section>

  <section>
    <h2>Meet the Cast!</h2>
    <ul>
      {% for cast in collections.cast %}
        <li><a href="/cast/{{ cast.data.id | lower }}">{{ cast.data.title }}</a></li>
      {% endfor %}
      </ul>
      </section>

    <section>
    <h2>World Building!</h2>
    <ul>
      {% for world in collections.world %}
        <li><a href="/world/{{ world.data.id }}">{{ world.data.title }}</a></li>
      {% endfor %}
      </ul>
      </section>

  <section>
    <h2>Miscellaneous!</h2>
    <ul>
      {% for misc in collections.misc %}
        <li><a href="/misc/{{ misc.data.id }}">{{ misc.data.title }}</a></li>
      {% endfor %}
    </ul>
</section>