---
layout: 'base.njk'
---
        <nav class="sidebar-left">
            <!-- update TEST-prev-chapter with your prefix -->
            <a id="TEST-prev-chapter" href="#">← Previous</a> <a id="TEST-next-chapter" href="#">Next →</a>
        </nav>