---
layout: 'base.njk'
---

{{ content | safe }}

 {% for update in collections.update | reverse %}

<section>
<h2>{{ update.date | postDate }}</h2>
{{ update.content | safe }}
</section>

 {% endfor %}
