---
layout: 'base.njk'
---

      <div class="locprofile">
    <div class="locmain-image" style="background-image: url('/assets/thumb/location/{{ thumbnail }}')"></div>
      <table>
  <tr>
    <th colspan="2"> </th>
  </tr>

  {% if (bigger) %}
  <tr>
    <td>State</td>
    <td>{{ state }}</td>
  </tr>

    <tr>
    <td>Population (2099 estimate)</td>
    <td>{{ population }}</td>
  </tr>

  <tr>
    <td>Mayor</td>
    <td><a href="/cast/{{ leaderlink }}">{{ leader }}</a></td>
  </tr>

    <tr>
    <td>French/American Lean</td>
    <td>{{ framlean }}</td>
  </tr>

    <tr>
    <td>Denonym(s)</td>
    <td>{{ denonyms }}</td>
  </tr>
  {% endif %}

  {% if (small) %}
  <tr>
    <td>Base of Operations</td>
    <td>{{ boo }}</td>
  </tr>

  <tr>
    <td>Leader(s)</td>
    <td>{{ leader }}</td>
  </tr>

    <tr>
    <td>Focus(es)</td>
    <td>{{ focus }}</td>
  </tr>

    <tr>
    <td>Status</td>
    <td>{{ status }}</td>
  </tr>
  {% endif %}

    <tr>
    <td>Nicknames</td>
    <td>{{ nicknames }}</td>
  </tr>

    <tr>
    <th colspan="2"> </th>
  </tr>
</table>
  </div>

<div id="toc"></div>

<div id="contents">

  
    <h2>Notable Figures</h2>
    <div class="scrollbox"><div class="gallery">
      {% for notablefigures in collections.notablefigures %}
        <a href="/cast/{{ notablefigures.data.id }}"><div class="galleryimage" style="background-image: url('/assets/thumb/cast/{{ notablefigures.data.thumbnail }}')"></div></a>
      {% endfor %}
    </div></div>

  {{ content | safe }}